
<%= form_for @task do |t| %>

  <ul>
  <% @task.errors.full_messages.each do |err| %>
    <li><%= err %></li>
  <% end %>
  </ul>

  <%= t.label :description, "Describe your task:" %>
  <%= t.text_field :description %>

  <%= t.label :completion_date, "When is it due?" %>
  <%= t.text_field :completion_date %>

  <%= t.submit %>

<% end %>