<li>
  <p>
    <% if task.cross_out %>
      <span class="strike"><%= link_to "Completion date: #{task.date} Description: #{task.description}", task_soft_delete_path(task), method: :patch %></span>
    <% else %>
      <%= link_to "Completion date: #{task.date} Description: #{task.description}", task_soft_delete_path(task), method: :patch %>
    <% end %>


    <%= link_to "Task", task_path(task.id)%>
    <%= link_to "Delete", task_path(task), :method => :delete %>
    <%= link_to "Edit", edit_task_path(task) %></p>
</li>
