<article class="task <%= completion_status_class(task) %>">
  <div class="row">
    <div class="col-sm">
      <p class="right">
        <%= link_to '', task, class: "fa fa-times-circle delete-link", method: :delete, data: {confirm: "Are you sure about this? Tasks can not be recovered after deletion."} %>
      </p>
      <h2><%= task.category.name %></h2>
      <h1><i class="<%= favorite(task) %>"></i> <%= link_to task.name, edit_task_path(task) %></h1>
    </div> <!-- col-sm -->
  </div> <!-- row -->

  <div class="row">
    <div class="col-sm-6">
      <p>
        Points: <%= task.point_value %> |
        Velocity: <%= display_velocity(task) %><br>
        Days Spent: <%= task.days_spent %>
      </p>
    </div> <!-- col-sm -->
    <div class="col-sm-6 align-right">
      <p>
        Start: <%= link_to display_start_date(task), edit_task_path(task) %><br>
        End: <%= link_to display_end_date(task), edit_task_path(task) %>
      </p>
    </div> <!-- col-sm -->
  </div> <!-- row -->
  <div class="row">
    <div class="col-sm-12">
      <%= link_to 'Go to Coursework', task.url, target: '_blank' unless task.url.empty? %> <span class="description"><%= task.description %></span>
    </div> <!-- col-sm-12 -->
  </div> <!-- row -->
</article>
