<article class="task <%= completion_status_class(task) %>">
  <h2><%= task.category.name %></h2>
  <h1><%= link_to task.name, task_path(task) %></h1>
  <div class="row">
    <div class="col-sm">
      <p>Points: <%= task.point_value %></p>
    </div> <!-- col-sm -->
    <div class="col-sm date">
      <p><%= display_date(task) %></p>
    </div> <!-- col-sm -->
    <div class="col-sm links">
      <p>
        <%= link_to 'edit', edit_task_path(task) %> |
        <%= link_to 'delete', task, method: :delete, data: {confirm: "Are you sure about this? Tasks can not be recovered after deletion."} %>
      </p>
    </div> <!-- col-sm -->
  </div> <!-- row -->
</article>