<% if task.complete %>
  <p style="text-decoration: line-through">
    <%= link_to task.title, task %>
    <br>
    <%= task.deadline %>
<% else %>
  <p>
    <%= link_to task.title, task %>
    <br>
    <%= task.deadline %>
<% end %>
<br>
Rating: <%= task.rating %>
<br>
<%= link_to "Delete", task_path(task), method: :delete %>
<%= link_to "Completed", task_path(task), method: :post %>
<%= link_to "Edit", edit_task_path(task) %>
<%= link_to "Send Reminder", text_path(task) %>
</p>
