<ul>
<% tasks.each do |task| %>
  <li>
  <% if task.completed %>
    <strike> <%= task.title %> </strike>
    <%= link_to "undo", complete_path(task), :method => :post %>
  <% else %>

    <% if task.priority == 6 %>
      <span style="background-color: yellow; border:solid"> <%= task.title %> </span>
    <% else %>
      <%= task.priority %>
      <%= link_to "#{task.title}", task %>
    <% end %>
    
    <%= link_to "edit", edit_task_path(task) %>
    <%= link_to "complete", complete_path(task), :method => :post %>
    <%= link_to "reminder", reminder_path(task), :method => :post %>
    <%= link_to "sticky", task_path(task, :sticky => true), method: "put" %>
  <% end %>
  <%= link_to "delete", task, :method => :delete %>
  </li>
<% end %>
</ul>
