<li class = "list-group-item <% if task.completed %> completed <% end %>">
<%= task.description %>:
<%= task.due %> 
<span class = "badge"><%= task.priority %></span>
<%= link_to "to task", task_path(task.id), { :class => "btn btn-default" }%>
<%= link_to "edit", edit_task_path(task.id), { :class => "btn btn-default" }%>
<%= link_to "destroy", task_path(task.id), { :class => "btn btn-default danger", :method => :delete} %>
<%= link_to "message", "/tasks/text-message/#{task.id}", { :class => "btn btn-default" } %>
</li>
