<table class="table table-hover" align="center">
  <thead >
    <tr>
      <th>Description</th>
      <th>Completion Date</th>
      <th>Priority Rating</th>
      <th>Delete</th>
      <th>Edit</th>
      <th>Send Reminder</th>
    </tr>
  </thead>

    <% @tasks.each do |task| %>
    <tr class=
        <%='cross-out' if task.crossed_out == true %>
        <%='sticky' if task.sticky == true%>>
      <td><%=link_to task.description, task_path(task) %></td>
      <td><%= task.completion_date %></td>
      <td><%= task.priority %></td>
      <td><%= link_to "Delete", task_path(task), :method => :delete %></td>
      <td><%= link_to "Edit", edit_task_path(task) %></td>
      <td><%= link_to "Remind Me", phone_form_path(task) %></td>
    </tr>
    <% end %>

</table>