<%= form_for @task do |f| %>

  <%= f.text_field :description  %>
  <%= f.datetime_field :due %>
  <%= f.number_field :priority, in: 0..10 %>
  <br><br>
  <label> Complete? <%= f.check_box :completed %> </label>
  <%= f.submit "go", { :class => "btn btn-default" } %>

<% end %>
