<table>
  <thead>
    <% 1.upto(3) do |i|%>
      <th> <%= @attributes[i] %> </th>
    <% end %>  
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td> <%= task.category %> </td>
        <td> <%= task.description %> </td>
        <td> <%= task.due_date %> </td>
        <td> <%= link_to "View Task", task_path(task.id) %> </td>
        <td> <%= link_to "Delete Task", task_path(task.id), :method => :delete %> </td>
      </tr>
    <% end %>
  </tbody>
</table>


  