
<div class="container">
  <div class = "row">
    <div class = "col-sm-4 col-sm-offset-3">
      <h1>Your tasks</h1>
    </div>
  </div>
  <hr>

  <div class = "row">
  <% @tasks.each do |task| %>
    <div class = "col-md-6">

      <div class = "row">
        <div class = "col-md-8">
          <h4>
            Task: <%= task.todo %>
          </h4>
        </div>

        <div class = "col-md-4">
          <%= link_to "Edit Task", edit_task_path(task) %>
        </div>

      </div>

      <div class = "row">
        <div class = "col-md-8">
          <h6>
            Completion Date:
              <% if task.completion_date %>
                <%= task.completion_date %>
              <% else %>
                Not yet completed
              <% end %>
          </h6>
        </div>
        <div class = "col-md-4">
          <%= link_to "Task Completed", mark_complete_path(task), method: :put %>
        </div>
      </div>

    </div>
  <% end %>

    <div class="row">
      <div class = "col-md-6">
        <div class = "row">
          <div class = "col-md-8">
            <h4>
              <%= link_to "New Task", new_task_path %>
            </h4>
          </div>
        </div>
      </div>
  </div>

</div>
