<h2>Sort the tasks</h2>
<form action="<%= @tasks %>", method="get">
  <input type="radio" name="sort_order" value="asc" checked> Ascending<br>
  <input type="radio" name="sort_order" value="desc">  Descending<br>
  <input type="radio" name="sort_order" value="created_at"> Original<br>
  <input type="submit" value="Sort">
</form>

<h1>Stickies</h1>
<% @stickies.each do |sticky| %>
  <%= render partial: 'shared/task_display', locals: { task: sticky } %>
<% end %>

<h1> All Tasks </h1>
<% @tasks.each do |task| %>
  <%= render partial: 'shared/task_display', locals: { task: task } %>
  <span><%= link_to "edit", edit_task_path(task) %>
  <span><%= link_to "delete", task_path(task), method: :delete, data: { confirm: "Are you sure?" }%></span>
  <span>
    <form action="<%= task_path(task) %>", method="post">
      <input type="hidden" name="authenticity_token"  value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="patch">
      <input type="hidden" name="task[soft_delete]" value="true">
      <input type="submit" value="soft delete">
    </form>
  </span>
  <span>
    <form action="<%= task_path(task) %>", method="post">
      <input type="hidden" name="authenticity_token"  value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="patch">
      <input type="hidden" name="task[completed_at]" value="<%= Time.now %>">
      <input type="submit" value="completed">
    </form>
  </span>
  <span>
    <form action="<%= task_path(task) %>", method="post">
      <input type="hidden" name="authenticity_token"  value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="patch">
      <input type="hidden" name="task[sticky]" value="true">
      <input type="submit" value="sticky">
    </form>
  </span>
<% end %>


