<br />Sort by:
<%= link_to "Most urgent", root_path(:sort => "asc") %> |
<%= link_to "Least urgent", root_path(:sort => "desc") %> |
<%= link_to "Creation time", root_path %> |
<%= link_to "Category", root_path(:sort => "category") %> |
<%= link_to "Priority", root_path(:sort => "priority") %>
<h3>Pinned Tasks</h3>
<ul>
  <%= render @pinned if @pinned %>
</ul>
<h3>Unpinned Tasks</h3>
<ul>
  <%= render @unpinned if @unpinned %>
</ul>
