<h1>New Task</h1>

<%= form_for(@task) do |t| %>

  <p>
    <%= t.label :title %>
    <%= t.text_field :title %>
  </p>
  <p>
    <%= t.label :owner%>
    <%= t.text_field :owner %>
  </p>
  <p>
    <%= t.label :description%>
    <%= t.text_area :description %>
  </p>
  <p>
    <%= t.label :effort%>
    <%= t.number_field :effort %>
  </p>
  <p>
    <%= t.label :completion_date%>
    <%= t.date_field :completion_date %>
  </p>

  <%= t.submit %>

<% end %> 

 