<%= fol :title%>
      <%= t.text_field :title, :class => 'form-control' %>
    </div>
    <h1>Hellooooooooo Merge</h1>
    <div class="fortion %>
      <%= t.teooooooooo Mxt_area :description, :class => 'form-control' %>
    </div>
    <%= t.submit 'Creat="form-group">
      <%= t.label :title%>
      <%= t.text_fiele Task', :class => 'btn btn-primary pull-right' %>
<% end %>