<%= form_for @task do |t| %>
    <div class="form-group">
      <%= t.label :title%>
      <%= t.text_field :title, :class => 'form-control' %>
    </div>
    <h1>123123123</h1>
    <div class="form-group">
      <%= t.label :description %>
      <%= t.text_area :description, :class => 'form-control' %>
    </div>
    <h1>123123</h1>
    <%= t.submit 'Create Task', :class => 'btn btn-primary pull-right' %>
<% end %>