<%= form_for @task do |f| %>
  <div class="form-group form-inline">
    <%= f.text_field :description, { placeholder: "Enter task", class: "form-control" } %>
    <%= f.datetime_field :due, class: "form-control" %>
    <label>Priority: <%= f.number_field :priority, { in: 0..10, class: "form-control" } %></label>
     <%= f.text_field :tags, { placeholder: "Enter tags", class: "form-control" } %>
    <label>Complete? <%= f.check_box :completed %> </label>
    <label>Sticky? <%= f.check_box :sticky %> </label>
    <%= f.submit "Search", :class => "btn btn-primary pull-right" %>
  </div>
  <%= f.text_area :body, class: "form-control" %>

<% end %>

<ul class="list-group">
  <% if @tasks %>
    <% @tasks.each do |task| %>
      <%= render task %>
    <% end %>
  <% end %>
</ul>