<h1>
  <%= @task.title %>
</h1>
<p>
  Priority: <%= @task.priority %>
</p>
<p>
  <%= @task.description %>
</p>
<p>
  <%= @task.due_date %>
</p>
<%= link_to 'Edit', edit_task_path(@task)%>
<%= link_to 'Index', tasks_path%>
