<div class="right">
  <%= link_to 'Edit', edit_task_path(@task), class: button_classes('warning') %>  <%= link_to 'Back', tasks_path, class: button_classes %>
</div> <!-- right -->

<h1>Task Details</h1>

<article class='task'>
  <h3><%= @task.name %></h3>
  <p>Points: <%= @task.point_value %></p>
  <p>Completed: <%= @task.completed_on if @task.completed_on %></p>
</article>
