<h1><%= @task.title %></h1>

<h3>Deadline: <%= @task.deadline %></h3>

<p><%= @task.description %></p>
<p>Rating: <%= @task.rating %></p>
<%= link_to "Delete", task_path(@task), method: :delete %>
<%= link_to "Edit", edit_task_path(@task) %>
