<li <%= "class=soft-delete" if task.soft_delete %>>
  <%= link_to task.due, task_path(task.id) %>
  <br>
  <%= task.description %>
  <br>
<%= '*' * task.rating %>
  <br>
  <%= link_to "Edit", edit_task_path(task.id) %>
  <br>
  <%= link_to "Delete", task_path(task.id), method: :delete, data: {confirm: "Really delete the article?"} %>
  <%= link_to "Text Reminder", "/send_reminder/#{task.id}" %>
</li>

<hr>
