<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New To-do Item</h4>
      </div>
        
      <%= form_for todo do |f| %>

      <div class="modal-body">

        <%= f.label :text %>
        <%= f.text_field :text %>

        <%= f.label :completion_date %>
        <%= f.date_field :completion_date %> 

        <%= f.submit %>
      </div>

      <% end %>

    </div>

  </div>
</div>