<%= form_for @todo do |f| %>
<ul>
  <li><%= f.label "Task Text" %>
  <%= f.text_field :text %></li>
  <li><%= f.label "Due Date" %>
  <%= f.date_field :date %></li>
  <li><%= f.submit %></li>
</ul>
<% end %>
