<div class="todo">
	<h6>
		Description:
	</h6>
	<p>
		<%= link_to(todo.value, todo_path(todo.id)) %>
	</p>
	<h6>
		Due Date:
	</h6>
	<p>
		<time datetime="<%= todo.due %>">
			<%= todo.formatted_due %>
		</time>
	</p>
	<p>
		<%= link_to('Edit', edit_todo_path(todo.id)) %>
		<%= link_to('Delete', todo_path(todo.id), :method => :delete, :style => 'color:red') %>
	</p>
	<p>
		<%= link_to('Send SMS', texts_new_path(:message => "TODO: #{todo.value}, DUE: #{todo.formatted_due}")) %>
	</p>
</div>