<div class="row">
  <div class="col-md-8 col-md-offset-2 todo-form">
    <%= form_for @todo do |f| %>

      <% if @todo.errors.any? %>
        <div id="error_explanation">
          <h4><%= pluralize(@todo.errors.count, "error") %> prohibited this todo from being saved:</h4>
       
          <ul>
          <% @todo.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      
      <div class="form-group">
        <%= label_tag :description, "Description" %>
        <%= f.text_field :description, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= label_tag :due, "Due Date" %>
        <%= f.date_field :due, class: "form-control" %>
      </div>

      <%= f.submit class: "btn btn-primary" %>

    <% end %>
  </div>
</div>