<p>
  <%= todo['id'] %>: <%= todo['description'] %> (<em>Due: <%= todo['due'] %></em>) <%= link_to fa_icon('pencil'), edit_todo_path(todo['id']) %> <%= link_to fa_icon('trash'), todo_path(todo['id']), method: :delete, data: { confirm: 'Are you sure?' } %> <%= link_to fa_icon('mobile'), send_text_path(task: todo['description'], due: todo['due']), method: :post %>
</p>