<div class="container">
<%= form_for @todo do |t|%>
  <h2>
    <%= t.label :event %><br/>
    <%= t.text_field :event %>
  </h2>
  <h2>
    <%= t.label :note %><br/>
    <%= t.text_area :note %>
  </h2>
   <div class="row">
        <div class='col-sm-6'>
            <h2>due time</h2>
            <%= t.text_field :timedate, :class => "form-control", :id => "datetimepicker4"%><br/>
            <!--<input type='text' class="form-control" id='datetimepicker4' />-->
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker4').datetimepicker();
            });
        </script>
        
    </div>
    <%= t.submit "edit", :class => "btn btn-default" %>
<% end %>
</div>