<!DOCTYPE html>
<html>
  <head>
    <title>ProjectTodoTwilio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    
    <%= yield %>

    <% flash.each do |k,v| %>
      <div><%= v %></div>
    <% end %>
    
  </body>
</html>
