<!DOCTYPE html>
<html>
  <head>
    <title>ProjectTodoTwilio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-no-turbolinks>
    <%= render "shared/navbar" %>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <% flash.each do |type, message| %>
            <div class=
                  <% if flash[:error] %>"alert alert-warning"<% end %>
                  <% if flash[:update] %>"alert alert-success"<% end %> >
              <strong><%= type %>! <%= message %></strong>
            </div>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
