<!DOCTYPE html>
<html>
<head>
  <title>ProjectTodoTwilio</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul class="nav">
	<li><%= link_to 'See Tasks', tasks_path %></li>
</ul>

<%= yield %>

</body>
</html>
