<!DOCTYPE html>
<html>
<head>
  <title>ProjectTodoTwilio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-no-turbolink>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<% if flash[:alert] %>
  <div class="alert"><%= flash[:alert] %></div>
<% end %>

<%= yield %>

<h4><%= link_to "Create", new_todo_path %></h4>
<h4><%= link_to "Show All Tasks", todos_path %></h4>

</body>
</html>
