<!DOCTYPE html>
<html>
<head>
  <title>ProjectTodoTwilio</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render "/layouts/navbar" %>
  <br>
  <br>
  
  <% flash.each do |type, message| %>
    <div>
      <strong><%= type %>! <%= message %></strong>
    </div>
  <% end %>
  <br>
  
  <%= yield %>

</body>
</html>

