<!DOCTYPE html>
<html>
<head>
  <title>ProjectTodoTwilio</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% flash.each do |type, message| %>
    <div>
      <strong><%= type.capitalize %>! <%= message %></strong>
    </div>
  <% end %>

<%= yield %>

  <%= link_to "Index", tasks_path %>
  <%= link_to "Create", new_task_path %>
</body>
</html>
